In [11]:
import os
import numpy as np
import pandas as pd

In [12]:
ls

Day-002.ipynb                       bureau.csv*
Day_001.ipynb                       bureau_balance.csv*
HomeCredit_columns_description.csv* credit_card_balance.csv*
POS_CASH_balance.csv*               installments_payments.csv*
application_test.csv*               previous_application.csv*
application_train.csv*              sample_submission.csv*

In [15]:
app_train = pd.read_csv('application_train.csv')

In [17]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
app_train.info

<bound method DataFrame.info of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
0           24700.5             ...                             0
1           35698.5             ...                             0
2            6750.0             ...                             0
3           29686.5             ...                             0
4           21865.5             ...                             0
5           27517.5             ...                             0
6           41301.0             ...                             0
7           42075.0             ...                             0
8           33826.5             ...                             0
9           20250.0             ...                             0
10          21177.0             ...                             0
11          10678.5             ...                             0
12           5881.5             ...                             0
13          28966.5             ...                             0
14          32778.0             ...                             0
15          20160.0             ...                             0
16          26149.5             ...                             0
17          13500.0             ...                             0
18           7875.0             ...                             0
19          17563.5             ...                             0
20          21375.0             ...                             0
21          37561.5             ...                             0
22          32521.5             ...                             0
23          23850.0             ...                             0
24          12703.5             ...                             0
25          11074.5             ...                             0
26          27076.5             ...                             0
27          23827.5             ...                             0
28          57676.5             ...                             0
29           9000.0             ...                             0
...             ...             ...                           ...
307481      19975.5             ...                             0
307482      34969.5             ...                             0
307483      16479.0             ...                             0
307484      35617.5             ...                             0
307485       9000.0             ...                             0
307486      18283.5             ...                             0
307487      31473.0             ...                             0
307488      13351.5             ...                             0
307489      23089.5             ...                             0
307490       9148.5             ...                             0
307491      31522.5             ...                             0
307492      43443.0             ...                             0
307493      37678.5             ...                             0
307494      46858.5             ...                             0
307495      23773.5             ...                             0
307496      16875.0             ...                             0
307497      12028.5             ...                             0
307498      52168.5             ...                             0
307499      12694.5             ...                             0
307500      35982.0             ...                             0
307501      11871.0             ...                             0
307502      10620.0             ...                             0
307503      17770.5             ...                             0
307504      16096.5             ...                             0
307505      22050.0             ...                             0
307506      27558.0             ...                             0
307507      12001.5             ...                             0
307508      29979.0             ...                             0
307509      20205.0             ...                             0
307510      49117.5             ...                             0

       FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0                     0                0                0
1                     0                0                0
2                     0                0                0
3                     0                0                0
4                     0                0                0
5                     0                0                0
6                     0                0                0
7                     0                0                0
8                     0                0                0
9                     0                0                0
10                    0                0                0
11                    0                0                0
12                    0                0                0
13                    0                0                0
14                    0                0                0
15                    0                0                0
16                    0                0                0
17                    0                0                0
18                    0                0                0
19                    0                0                0
20                    0                0                0
21                    0                0                0
22                    0                0                0
23                    0                0                0
24                    0                0                0
25                    0                0                0
26                    0                0                0
27                    0                0                0
28                    0                0                0
29                    0                0                0
...                 ...              ...              ...
307481                0                0                0
307482                0                0                0
307483                0                0                0
307484                0                0                0
307485                0                0                0
307486                0                0                0
307487                0                0                0
307488                0                0                0
307489                0                0                0
307490                0                0                0
307491                0                0                0
307492                0                0                0
307493                0                0                0
307494                0                0                0
307495                0                0                0
307496                0                0                0
307497                0                0                0
307498                0                0                0
307499                0                0                0
307500                0                0                0
307501                0                0                0
307502                0                0                0
307503                0                0                0
307504                0                0                0
307505                0                0                0
307506                0                0                0
307507                0                0                0
307508                0                0                0
307509                0                0                0
307510                0                0                0

       AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                             0.0                       0.0
1                             0.0                       0.0
2                             0.0                       0.0
3                             NaN                       NaN
4                             0.0                       0.0
5                             0.0                       0.0
6                             0.0                       0.0
7                             0.0                       0.0
8                             0.0                       0.0
9                             NaN                       NaN
10                            0.0                       0.0
11                            0.0                       0.0
12                            0.0                       0.0
13                            0.0                       0.0
14                            NaN                       NaN
15                            0.0                       0.0
16                            0.0                       0.0
17                            NaN                       NaN
18                            0.0                       0.0
19                            0.0                       0.0
20                            NaN                       NaN
21                            0.0                       0.0
22                            0.0                       0.0
23                            0.0                       0.0
24                            0.0                       0.0
25                            0.0                       0.0
26                            0.0                       0.0
27                            0.0                       0.0
28                            0.0                       0.0
29                            NaN                       NaN
...                           ...                       ...
307481                        0.0                       0.0
307482                        0.0                       0.0
307483                        0.0                       0.0
307484                        NaN                       NaN
307485                        0.0                       0.0
307486                        0.0                       0.0
307487                        0.0                       0.0
307488                        0.0                       0.0
307489                        0.0                       0.0
307490                        0.0                       0.0
307491                        0.0                       0.0
307492                        0.0                       0.0
307493                        0.0                       0.0
307494                        0.0                       0.0
307495                        0.0                       0.0
307496                        0.0                       0.0
307497                        0.0                       0.0
307498                        0.0                       0.0
307499                        0.0                       0.0
307500                        0.0                       0.0
307501                        NaN                       NaN
307502                        0.0                       0.0
307503                        0.0                       0.0
307504                        NaN                       NaN
307505                        0.0                       0.0
307506                        NaN                       NaN
307507                        NaN                       NaN
307508                        1.0                       0.0
307509                        0.0                       0.0

In [24]:
a=app_train.dtypes

In [25]:
a

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [27]:
s= app_train.values

In [28]:
s

array([[100002, 1, 'Cash loans', ..., 0.0, 0.0, 1.0],
       [100003, 0, 'Cash loans', ..., 0.0, 0.0, 0.0],
       [100004, 0, 'Revolving loans', ..., 0.0, 0.0, 0.0],
       ...,
       [456253, 0, 'Cash loans', ..., 1.0, 0.0, 1.0],
       [456254, 1, 'Cash loans', ..., 0.0, 0.0, 0.0],
       [456255, 0, 'Cash loans', ..., 2.0, 0.0, 1.0]], dtype=object)

In [30]:
df=app_train[['NAME_CONTRACT_TYPE']]

In [31]:
df

       NAME_CONTRACT_TYPE
0              Cash loans
1              Cash loans
2         Revolving loans
3              Cash loans
4              Cash loans
5              Cash loans
6              Cash loans
7              Cash loans
8              Cash loans
9         Revolving loans
10             Cash loans
11             Cash loans
12             Cash loans
13             Cash loans
14             Cash loans
15             Cash loans
16             Cash loans
17        Revolving loans
18        Revolving loans
19             Cash loans
20        Revolving loans
21             Cash loans
22             Cash loans
23             Cash loans
24             Cash loans
25             Cash loans
26             Cash loans
27             Cash loans
28             Cash loans
29        Revolving loans
...                   ...
307481         Cash loans
307482         Cash loans
307483         Cash loans
307484         Cash loans
307485    Revolving loans
307486         Cash loans
307487         Cash loans
307488         Cash loans
307489         Cash loans
307490         Cash loans
307491         Cash loans
307492         Cash loans
307493         Cash loans
307494         Cash loans
307495         Cash loans
307496    Revolving loans
307497         Cash loans
307498         Cash loans
307499         Cash loans
307500         Cash loans
307501         Cash loans
307502         Cash loans
307503         Cash loans
307504         Cash loans
307505         Cash loans
307506         Cash loans
307507         Cash loans
307508         Cash loans
307509         Cash loans
307510         Cash loans

[307511 rows x 1 columns]

In [37]:
app_train.iloc[5:3]

Empty DataFrame
Columns: [SK_ID_CURR, TARGET, NAME_CONTRACT_TYPE, CODE_GENDER, FLAG_OWN_CAR, FLAG_OWN_REALTY, CNT_CHILDREN, AMT_INCOME_TOTAL, AMT_CREDIT, AMT_ANNUITY, AMT_GOODS_PRICE, NAME_TYPE_SUITE, NAME_INCOME_TYPE, NAME_EDUCATION_TYPE, NAME_FAMILY_STATUS, NAME_HOUSING_TYPE, REGION_POPULATION_RELATIVE, DAYS_BIRTH, DAYS_EMPLOYED, DAYS_REGISTRATION, DAYS_ID_PUBLISH, OWN_CAR_AGE, FLAG_MOBIL, FLAG_EMP_PHONE, FLAG_WORK_PHONE, FLAG_CONT_MOBILE, FLAG_PHONE, FLAG_EMAIL, OCCUPATION_TYPE, CNT_FAM_MEMBERS, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, WEEKDAY_APPR_PROCESS_START, HOUR_APPR_PROCESS_START, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, LIVE_REGION_NOT_WORK_REGION, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, LIVE_CITY_NOT_WORK_CITY, ORGANIZATION_TYPE, EXT_SOURCE_1, EXT_SOURCE_2, EXT_SOURCE_3, APARTMENTS_AVG, BASEMENTAREA_AVG, YEARS_BEGINEXPLUATATION_AVG, YEARS_BUILD_AVG, COMMONAREA_AVG, ELEVATORS_AVG, ENTRANCES_AVG, FLOORSMAX_AVG, FLOORSMIN_AVG, LANDAREA_AVG, LIVINGAPARTMENTS_AVG, LIVINGAREA_AVG, NONLIVINGAPARTMENTS_AVG, NONLIVINGAREA_AVG, APARTMENTS_MODE, BASEMENTAREA_MODE, YEARS_BEGINEXPLUATATION_MODE, YEARS_BUILD_MODE, COMMONAREA_MODE, ELEVATORS_MODE, ENTRANCES_MODE, FLOORSMAX_MODE, FLOORSMIN_MODE, LANDAREA_MODE, LIVINGAPARTMENTS_MODE, LIVINGAREA_MODE, NONLIVINGAPARTMENTS_MODE, NONLIVINGAREA_MODE, APARTMENTS_MEDI, BASEMENTAREA_MEDI, YEARS_BEGINEXPLUATATION_MEDI, YEARS_BUILD_MEDI, COMMONAREA_MEDI, ELEVATORS_MEDI, ENTRANCES_MEDI, FLOORSMAX_MEDI, FLOORSMIN_MEDI, LANDAREA_MEDI, LIVINGAPARTMENTS_MEDI, LIVINGAREA_MEDI, NONLIVINGAPARTMENTS_MEDI, NONLIVINGAREA_MEDI, FONDKAPREMONT_MODE, HOUSETYPE_MODE, TOTALAREA_MODE, WALLSMATERIAL_MODE, EMERGENCYSTATE_MODE, OBS_30_CNT_SOCIAL_CIRCLE, DEF_30_CNT_SOCIAL_CIRCLE, OBS_60_CNT_SOCIAL_CIRCLE, DEF_60_CNT_SOCIAL_CIRCLE, DAYS_LAST_PHONE_CHANGE, FLAG_DOCUMENT_2, FLAG_DOCUMENT_3, FLAG_DOCUMENT_4, FLAG_DOCUMENT_5, ...]
Index: []

[0 rows x 122 columns]

In [40]:
app_train.iloc[3]

SK_ID_CURR                                           100006
TARGET                                                    0
NAME_CONTRACT_TYPE                               Cash loans
CODE_GENDER                                               F
FLAG_OWN_CAR                                              N
FLAG_OWN_REALTY                                           Y
CNT_CHILDREN                                              0
AMT_INCOME_TOTAL                                     135000
AMT_CREDIT                                           312682
AMT_ANNUITY                                         29686.5
AMT_GOODS_PRICE                                      297000
NAME_TYPE_SUITE                               Unaccompanied
NAME_INCOME_TYPE                                    Working
NAME_EDUCATION_TYPE           Secondary / secondary special
NAME_FAMILY_STATUS                           Civil marriage
NAME_HOUSING_TYPE                         House / apartment
REGION_POPULATION_RELATIVE                         0.008019
DAYS_BIRTH                                           -19005
DAYS_EMPLOYED                                         -3039
DAYS_REGISTRATION                                     -9833
DAYS_ID_PUBLISH                                       -2437
OWN_CAR_AGE                                             NaN
FLAG_MOBIL                                                1
FLAG_EMP_PHONE                                            1
FLAG_WORK_PHONE                                           0
FLAG_CONT_MOBILE                                          1
FLAG_PHONE                                                0
FLAG_EMAIL                                                0
OCCUPATION_TYPE                                    Laborers
CNT_FAM_MEMBERS                                           2
                                          ...
DEF_30_CNT_SOCIAL_CIRCLE                                  0
OBS_60_CNT_SOCIAL_CIRCLE                                  2
DEF_60_CNT_SOCIAL_CIRCLE                                  0
DAYS_LAST_PHONE_CHANGE                                 -617
FLAG_DOCUMENT_2                                           0
FLAG_DOCUMENT_3                                           1
FLAG_DOCUMENT_4                                           0
FLAG_DOCUMENT_5                                           0
FLAG_DOCUMENT_6                                           0
FLAG_DOCUMENT_7                                           0
FLAG_DOCUMENT_8                                           0
FLAG_DOCUMENT_9                                           0
FLAG_DOCUMENT_10                                          0
FLAG_DOCUMENT_11                                          0
FLAG_DOCUMENT_12                                          0
FLAG_DOCUMENT_13                                          0
FLAG_DOCUMENT_14                                          0
FLAG_DOCUMENT_15                                          0
FLAG_DOCUMENT_16                                          0
FLAG_DOCUMENT_17                                          0
FLAG_DOCUMENT_18                                          0
FLAG_DOCUMENT_19                                          0
FLAG_DOCUMENT_20                                          0
FLAG_DOCUMENT_21                                          0
AMT_REQ_CREDIT_BUREAU_HOUR                              NaN
AMT_REQ_CREDIT_BUREAU_DAY                               NaN
AMT_REQ_CREDIT_BUREAU_WEEK                              NaN
AMT_REQ_CREDIT_BUREAU_MON                               NaN
AMT_REQ_CREDIT_BUREAU_QRT                               NaN
AMT_REQ_CREDIT_BUREAU_YEAR                              NaN
Name: 3, Length: 122, dtype: object